* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: rgb(0,105,182);
    background: linear-gradient(90deg, rgba(0,105,182,1) 0%, rgba(0,37,126,1) 100%);
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h3 {
    margin-top: 15px;
}

img {
    border: 1px solid black;
    border-radius: 4px;
}

/* Search Column Styles */
.search-column {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.city-input {
    border: none;
    overflow: none;
    outline: none;
    resize: none;
    width: 100%;
    height: auto;
    margin: 5px 0;
    padding: 5px;
    font-size: medium;
    border: 1px solid grey;
    border-radius: 4px;
    vertical-align: middle;
}

.search-button {
    font-size: medium;
    font-weight: 600;
    width: 100%;
    color: white;
    padding: 5px;
    background-color: rgb(50, 170, 250);
    border: 1px solid rgb(50, 170, 250);
    border-radius: 4px;
}

.search-button:hover {
    background-color:rgb(0, 100, 200)
}

.search-button:active {
    background-color: whitesmoke;
    color: rgb(0, 100, 200);
}

.history-container {
    margin-top: 5px;
    border-top: 3px solid grey;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;    
}

.history-item {
    font-size: medium;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    color: black;
    padding: 5px;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

.history-item:hover {
    font-weight: 600;
    background-color: grey;
}

.history-item:active {
    font-weight: 600;
    background-color: black;
    color: grey;
}

/* Weather Content Styles - Daycast */
.weather-content {
    width: 78%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.daycast {
    height: 250px;
    margin-bottom: 10px;
    width: 100%;
    border: 2px solid grey;
}

.main-weather-card {
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-card-city {
    padding: 4px 10px 0 0;
    font-size: 2rem;
    font-weight: 700;
}

.main-append-here {
    display: flex;
}

.main-card-data {
    font-size: 1.1rem;
    font-weight: 600;
}

/* Weather Content Styles - 5-Day Forecast */
.forecast {
    margin: 10px 0;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.weather-card {
    padding: 5px;
    width: 18%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: slategray;
    border: 1px solid black;
}

.append-here {
    display: flex;
    flex-direction: column;
}

.card-date {
    font-weight: 600;
}

.card-icon {
    width: 50px;
    height: 50px;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    h3 {
        align-self: center;
        margin: 20px 0 10px 0;
    }

    .forecast {
        margin: 0;
        padding: 0;
        justify-content: space-around;
    }
    
    .search-column {
        margin-bottom: 15px;
        width: 70%;
    }

    .weather-content {
        width: 85%;
        justify-content: center;
    }

    .weather-card {
        margin: 0 0 15px 0;
        width: 35%;
    }
}

@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    h2 {
        align-self: center;
    }

    .search-column {
        margin-bottom: 15px;
        width: 75%;
    }

    .weather-content {
        width: 95%;
        justify-content: center;
    }

    .weather-card {
        width: 45%;
    }
}

@media screen and (max-width: 480px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .main-card-city {
        padding: 10px 10px 0 0;
        font-size: 1.5rem;
        font-weight: 700;
        width: auto;
    }

    .forecast {
        flex-direction: column;
        align-items: center;
    }

    .weather-card {
        width: 50%;
    }
}
